<!DOCTYPE html>

<html>

<head>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.png" />

    <link href="https://fonts.googleapis.com/css?family=Yrsa" rel="stylesheet"><!-- serif font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"><!-- sans-serif font -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!-- icons -->

	<style type="text/css">
		body {
			overflow-x: hidden;
			background-image: url('static/img/bg.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			color: white;
		}
		.logoimg {
			width: 24%;
			position: relative;
			left: 38%;
			top: 40px;
		}
		.box {
			height: 680px;
			background: #343a40;
			margin: auto;
			border-radius: 0.7rem;
			border: 2px solid rgb(39,48,65);
			margin-top: 3vh;
			margin-bottom: 3vh;
		}
		.textbox {
			width: 100%;
			position: relative;
			margin: auto;
			outline: none;
			border: none;
			border-bottom: 1.1px solid rgb(2,81,160);
			padding: .2em 0.4rem;
			background: transparent;
			animation: none;
			color: rgb(60,150,255);
		}
		.textbox:focus {
			animation: textan 0.5s;
			border-bottom: 1.2px solid #007bff;
		}
		form {
			width: 84%;
			position: relative;
			margin: auto;
		}
		.btn {
			border-radius: 20px;
			width: 96px;
			height: 44px;
			margin: auto;
			border: none;
			color: #343a40;
		}
		a:hover {
			color: #0069d9;
            text-decoration: none;
		}
		.errormsg {
			color: red;
			font-size: 0.8em;
			text-align: right;
		}
		@keyframes textan {
			from {width: 0}
			to {width: max-width}
		}
		@media (min-width: 440px) {
			.container {
				max-width: 450px;
			}
		}
		@media (min-width: 768px) {
			.container {
				max-width: 860px;
			}
		}
		@media (min-width: 992px) {
			.container {
				max-width: 1050px;
			}
		}

    {% block content %}

    {% endblock %}

    <script type="text/javascript">

		var h = (window.innerHeight - height)/2;

		if(h>0) {
			document.getElementById("box").style.marginTop = h + 'px';
			document.getElementById("box").style.marginBottom = h + 'px';
		}

	</script>

</body>

</html>